<!DOCTYPE html>
<html lang="en">
<head>
    <title>Promjena slike profila</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel='stylesheet' href='/stylesheets/store.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/public/javascripts/header.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
<header>
    <%- include('store-header.ejs') %>
</header>
<main>
    <div class="form-container bg-light">
        <p><%= message%></p>
        <form action="/store/update-profile-photos/<%= id%>" method="post" enctype="multipart/form-data">
            <label for="pfp_img">Učitaj novu sliku profila </label>
            <input type="file" name="pfp_img" id="pfp_img">
            <br/>
            <label for="cover_img">Učitaj novu sliku profila </label>
            <input type="file" name="cover_img" id="cover_img">
            <div class="text-center">
                <input type="submit" class="btn btn-primary save-button" value="Spasi">
            </div>
        </form>
    </div>
</main>
<footer>
    <%- include('../footer.ejs') %>
</footer>
<script>


</script>
</body>
</html>