<div class="footer">
    <div class="nav-style">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="d-flex justify-content-center w-100">
                    <p class="footer-text">&copy; Kenan Sultanić</p>
                </div>
        </nav>
    </div>
</div>