@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300&family=Dosis:wght@200&family=Poppins:ital,wght@0,200;1,200;1,300&display=swap');

body {
  background-image: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  font-family: 'Albert Sans', sans-serif;
}

.form-container {
  width: 50%;
  margin: 150px auto;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, .3);
}

.form-container input {
  margin: 15px 0;
}


#eye {
  margin-top: 15px;
}


@media screen and (max-width: 640px) {
  .form-container {
    width: 70%;
  }
}


@media screen and (max-width: 420px){
  .form-container {
    width: 100%;
  }
}